
<ul>
    <tr *ngFor="let movie of movies; let i = index; let first = first; let last = last;" [ngClass]="{ first: first, last: last}">
        <td>{{i}}</td>
        <td>{{movie.title}</td>
        <td>{{movie.genre}</td>
        <td>{{movie.mainCharacter}</td>
        <td>{{movie.musicScore}}</td>
    </tr>    
</ul>
}

<ul>
    <tr *ngFor="let movie of movies; let i = index; trackBy: trackByFn;"> 
        <td>{{i}}</td>
        <td>{{movie.title}</td>
        <td>{{movie.genre}</td>
        <td>{{movie.mainCharacter}</td>
        <td>{{movie.musicScore}}</td>
    </tr> 
</ul>           
   
